* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: white;
}

h1 {
    font-size: 3vw;
}

p {
    font-size: 1.25vw;
}

.hero {
    background-image: linear-gradient(rgb(5, 0, 80), rgb(255, 255, 255));
    padding-bottom: 5vw;
}

.hero-content {
    padding-top: 10vw;
}

.hero img {
    padding: 1vw 0;
    width: 30vw;
    opacity: 0.75;
}

.hero h1 {
    color:white;
}