* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: white;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
    padding-bottom: 2vw;
}

h4 {
    font-size: 1.75vw;
    padding-bottom: 1vw;
}

p {
    font-size: 1.25vw;
}

.nav-item p {
    color: white !important;
    margin-bottom: 0;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.nav-item p:hover,
.nav-item p:focus {
  color: rgba(204, 205, 218, 0.7) !important;
  transition: all 0.2s ease;
}

.hero {
    background-image: linear-gradient(rgb(5, 0, 80), rgb(255, 255, 255));
    padding-bottom: 3vw;
}

.hero-content {
    padding-top: 8vw;
}

.hero img {
    margin: 2vw 0;
    width: 30vw;
    opacity: 0.75;
    border: 1vw solid rgb(0, 0, 0);
}

.container {
    max-width: 55vw;
}

.about {
    padding-top: 6vw;
    padding-bottom: 3vw;
}

.about p {
    padding-bottom: 2vw;
}

.featured {
    padding-top: 6vw;
    padding-bottom: 3vw;
}

.featured .container {
    max-width: 70vw;
}

.featured img {
    width: 45vw;
    padding-bottom: 2vw;
}

.project {
    padding-bottom: 5vw;
}