--- 
--- 

body {
  background-color: white;
  font-size: 1.2rem;
}

$font_color: black;
$dark_blue: #050050;
$blue: #9b96ca;
$light_blue: #ebeaf6;

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: $font_color;
}

a {
  color: $font_color;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;

  &:hover {
    color: $dark_blue;
    transition: 0.4s;
    text-decoration: underline;
  }
}

.footer a {
  color: $font_color;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: $dark_blue;
    transition: 0.4s;
  }
}

.button {
  border: 0.2rem solid $blue;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 0.5rem 1.2rem;

  &:hover {
    background-color: $blue;
    transition: 0.4s;
  }
}

.mobile, .tablet {
  display: none;
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 850px) {
  .no-tablet {
    display: none;
  }

  .tablet {
    display: block;
  }
}

h1 {
  font-size: 2.5rem;

  @media (max-width: 400px) {
    font-size: 2.1rem;
  }
}

h2 {
  @media (max-width: 400px) {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.2rem;
}

.bg-dark {
  background-color: $dark_blue !important;
}

.container {
  max-width: 52rem;

  @media (max-width: 1000px) {
    max-width: 48rem;
  } 
  @media (max-width: 850px) {
    max-width: 80%;
  }    
}

.nav-item p {
  color: white !important;
  margin-bottom: 0;
  padding-left: 4rem !important;
  padding-right: 4rem !important;

  @media (max-width: 930px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  } 
  
  @media (max-width: 576px) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.nav-item p:hover,
.nav-item p:focus {
  cursor: pointer;
  color: $blue !important;
  transition: all 0.2s ease;
}

.navbar-toggler {
  margin-left: 1rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.hero {
  background-image: linear-gradient($dark_blue, white);
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid $light_blue;
}

.hero-content {
  padding-top: 7rem;

  @media (max-width: 576px) {
    padding-top: 5rem;
  }
}

.hero img {
  margin: 1.5rem auto;
  width: 26rem;
  opacity: 0.9;
  border: 0.5rem solid rgb(0, 0, 0);

  @media (max-width: 576px) {
    width: 20rem;
  }

  @media (max-width: 400px) {
    width: 15rem;
  }
}

@mixin section($bg: white) {
  background-color: $bg;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

.about {
  @include section;
}

.about p {
  padding-bottom: 1.5rem;
}

.featured {
  @include section($bg: $light_blue);
}

.featured .container {
  max-width: 61rem;

  @media (max-width: 1000px) {
    max-width: 50rem;
  }

  @media (max-width: 850px) {
    max-width: 82%;
  }
}

.carousel-col {
  margin: 0 2rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 850px) {
  .featured {
    .row {
      display: block;
    }

    .col {
      text-align: center;
      margin: 0 auto;
    }

    ul {
      text-align: left !important;
    }

    .carousel-col {
      padding-bottom: 2.5rem;
    }
  }
}

.carousel {
  width: 100%;

  .flickity-button {
    background: transparent;
  }

  .flickity-prev-next-button {
    width: 2rem;
    height: 2rem;
  }

  .flickity-prev-next-button.previous {
    left: -1.8rem;
  }

  .flickity-prev-next-button.next {
    right: -1.8rem;
  }

  .flickity-button-icon {
    fill: black;
  }

  .flickity-page-dots {
    bottom: -1.2rem;
  }


  .flickity-page-dots .dot.is-selected {
    background: black;
  }
}

.carousel-cell {
  width: 100%;
}

.project img {
  max-width: 100%;
  // padding-bottom: 1.2rem;
}

.project {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.work {
  @include section;
}

.job {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.education {
  @include section($bg: $light_blue);
  text-align: center;
}

.education img {
  max-width: 15rem;
  padding-bottom: 1rem;
}

.footer {
  @include section;
  text-align: center;
  padding-bottom: 1rem !important;
}

.footer .col {
  flex: 0 0 auto;
  width: 8rem; 
}

.footer_img {
  max-width: 3rem;
  padding-top: 5rem;
  margin: 4rem auto 0.5rem;
  background-image: url("/images/link.png");
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    background-image: url("/images/link_psy.png");
    margin-top: 1rem;
    padding-top: 9rem;
  }
}
